We2/InvockedWSDL/Addition_WebService_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1515042848445" xmlns:ns0="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1515042848445">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Result">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Output" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Web/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Addition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Number1" type="xs:int"/>
                        <xs:element name="Number2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="WSDL-service0">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location="http://localhost:8085/WebService/WSDL-service0.serviceagent/PortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Addition">
            <wsdl:input message="tns:Input"/>
            <wsdl:output message="tns:Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Addition">
            <soap:operation style="document" soapAction="/WebService/WSDL-service0.serviceagent/PortTypeEndpoint0/Addition"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Input">
        <wsdl:part name="part1" element="ns0:Addition"/>
    </wsdl:message>
    <wsdl:message name="Output">
        <wsdl:part name="part1" element="ns1:Result"/>
    </wsdl:message>
</wsdl:definitions>